@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  /* Accent colors */
  --accentcolor: 51, 177, 255;
  --accentcolor2: 51, 177, 255;

  /* Links & mentions*/
  --linkcolor: 51, 177, 255;
  --mentioncolor: 255, 126, 182;

  /* Text colors */
  --textbrightest: 255, 255, 255;
  --textbrighter: 222, 222, 222;
  --textbright: 185, 185, 185;
  --textdark: 140, 140, 140;
  --textdarker: 115, 115, 115;
  --textdarkest: 80, 80, 80;

  /* Background colors */
  --backgroundaccent: 24, 24, 32;
  --backgroundprimary: 24, 24, 32;
  --backgroundsecondary: 24, 24, 32;
  --backgroundsecondaryalt: 24, 24, 32;
  --backgroundtertiary: 24, 24, 34;
  --backgroundfloating: 24, 24, 34;
  /* Settings */
  --settingsicons: 1;
   --font: "Jua Nerd Font"; /* you can use anything here*/

  /* Any custom css down here */
}
