// please me from the future PLEEASE fix this :c
// if you are seeing this then you can just manually comment/uncomment whatchu want to use here

/*
//oxocarbon:
$foreground: #ffffff;
$grey: #393939;
$foreground-alt: #dde1e6;
$background: #161616;
$black: #262626;
$red: #ee5396;
$green: #42be65;
$yellow: #ffe97b;
$blue: #33b1ff;
$magenta: #ff7eb6;
$cyan: #3ddbd9;
$white: #ffffff;
*/

/*
//latte:
$background: #eff1f5;
$foreground: #393939;
$foreground-alt: #4c4f69;
$black: #ccd0d8;
$grey: #6c6f85;
$white: #e6e9ef;
$red: #d20f39;
$green: #40a02b;
$yellow: #df8e1d;
$blue: #1e66f5;
$magenta: #ea76cb;
$cyan: #179299;
*/

//onedark:
$background: #1e2127;
$foreground: #abb2bf;
$foreground-alt: #6b727f;
$black: #2e3137;
$grey: #5c6370;
$white: #ffffff;
$red: #e06c75;
$green: #98c379;
$yellow: #d19a66;
$blue: #61afef;
$magenta: #c678dd;
$cyan: #56b6c2;

// accent for the themed modules
$accent: $blue;

* {
  all: unset;
}

window {
  background: $background;
}

.bar {
  font-family: "0xProto Nerd Font";
  font-size: 0px;
  margin: 0px 10px 0px 10px;
}

.time {
  font-family: "Nunito"; 
  border-radius: 20px;
  background-color: $black;
  color: $foreground;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom:12px;
  padding: 0px 10px;
}

.volume{
  font-size: 16px;
  color: $foreground;
  background-color: $black;
  border-radius: 20px;
  margin: 12px;
  & > &__icon {
    margin-right: 20px;
    margin-left: 10px;
    font-family: "0xProto Nerd Font";
  }
}

.metric scale trough highlight {
  all: unset;
  background-color: $black;
  color: #000000;
  border-radius: 10px;
  margin: 10px 20px;
}
.metric scale trough {
  all: unset;
  background-color: $black;
  border-radius: 10px;
  min-height: 10px;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  padding: 3px 3px;
  background-color: $accent;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: $grey;
  border-radius: 10px;
  min-height: 10px;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 20px;
}

.tray {
all: unset;
font-family: "0xProto Nerd Font";
font-size: 16px;
background-color: $background;
color: $foreground;
margin: 0px 5px 0 5px;
}

.workspaces {
  font-family: "0xProto Nerd Font";
  font-size: 10px;
  transition: 0.25s;
  background-color: $black;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px 20px;

  button {
    border-radius: 20px;
    transition: 250ms;
    margin: 3px 3px 3px ;
  }

  .occupied {
    transition: 0.5s;
    background-color: $foreground;
    padding: 0px 10px;
  }

  .focused {
    transition: 0.25s;
    background-color: $accent;
    color: $accent;
    padding: 0px 20px;
  }

  .urgent {
    transition: 0.25s;
    background-color: $red;
    padding: 0px 15px;
  }

  .empty {
    transition: 0.15s;
    background-color: $foreground-alt;
    padding: 0px 6px;
    font-family: "0xProto Nerd Font"
  }

}
