/* 
 *   Discord CSS
 *   also unorganized, sorry for the mess
 *   https://github.com/lyeexistindo/dotfiles/ 
 */

@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: rgb(22,22,22);
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: var(--background);
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 22,22,22;
  --accentcolor: 255,126,182;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.5;
  --messagetransparency: 0.5;
  --guildchanneltransparency: 0.15;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --font: Maple Mono;
  --textbrightest: 255,255,255;
  --textbrighter: 221,225,230;
  --textbright: 221,225,230;
  --textdark: 160,160,160;
  --textdarker: 125,125,125;
  --textdarkest: 90,90,90;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}


